{% include ['components/nav.twig'] %}

{% if options.banner_text %}
  {% include ['components/promo-banner.twig'] %}
{% endif %}

<header class="site-header flex-between" role="banner">

    <h1 itemscope itemtype="http://schema.org/Organization">
      <a href="{{ site.link }}">
        <img class="site-logo" src="{{theme.link}}/assets/logo.png" alt="logo">
      </a>
    </h1>

    <button type="button" id="showLeft" class="nav-trigger">
      <span></span>
      <span></span>
    </button>

</header>
