{% extends "base.twig" %}

{% block content %}

<section class="posts-archive">
  {% for post in posts %}
    {% include ['components/post-preview.twig'] %}
  {% endfor %}
</section>

{% include ['components/pagination.twig'] %}

{% endblock %}
