html {
  min-height: 100%;
  box-sizing: border-box;
  background: $white;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  color: $color_text;
}

body,
html {
  height: 100%;
}

// ::selection {
//   background: lighten($blue, 33%);
// }

// ::-moz-selection {
//   background: lighten($blue, 33%);
// }
