/* CONTACT PAGE */

.contact-page {
  .contact-one {
    margin-bottom: 15rem;
    
    h1 {
      width: 75%;
      max-width: 760px;
      margin-bottom: 12rem;
    }
  }

  .contact-two {
    width: 85%;
    max-width: 960px;
    margin: 0 auto;
  }
}
