// colours
$black: #333333;
$white: #ffffff;

$color_text: #d4d5d4;
$color_link: #d4d5d4;
$color_link-visited: #d4d5d4;
$color_link-hover: #9f8f7a;
$color_background-screen: #fff;
$color_text-screen: #d4d5d4;

// background colours
$color_body: #fefefe;

// placeholders
$placeholder_color-foreground: #2d2a27;
$placeholder_color-background: #f9f9f8;

// Other colours
$color_accent: var(--color-accent);
$color_border: var(--color-border);

// Helper colours for form error states
$color_disabled: #000000;
$color_disabled-border: #000000;
$color_error: #ff6d6d;
$color_error-bg: #ffffff;
$color_success: #000000;
$color_success-bg: #000000;
