// colours
$black: #48453F;
$white: #FCFCFB;

$sage: #A6AA9E;
$wheat: #E8E1D9;
$coral: #CAA59C;
$taupe: #817B77;

$color_text: #48453F;
$color_accent: #A6AA9E;
$color_link: #48453F;
$color_link-visited: #48453F;
$color_link-hover: #A09B98;
$color_background-screen: #FCFCFB;
$color_text-screen: #d4d5d4;

// background colours
$color_body: #FCFCFB;

// lines
$color_border: #817B77;
$color_border-hover: #CAC4C0;

// placeholders
$placeholder_color-foreground: #48453F;
$placeholder_color-background: #FCFCFB;

// Other colours
$color_accent: var(--color-accent);

// Helper colours for form error states
$color_disabled: #000000;
$color_disabled-border: #000000;
$color_error: #ff6d6d;
$color_error-bg: #ffffff;
$color_success: #000000;
$color_success-bg: #000000;
