$font_main: 'cardo', garamond, times, serif;
$font_second: 'amira', helvetica, arial, sans-serif;
$font-body: 'cardo', garamond, times, serif;
$font-body-weight: 400;
$font-body-style: normal;
$font-body-bold-weight: 700;
